.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.all-pages {
  width: 350px;
  height: 500px;
  transform: translate(0, -10%);
}
.nav {
  margin: 0px 25px 10px 25px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  border-bottom: 1px solid wheat;
}
h3 {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
